@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 350px;
  min-height: 450px;
  background: #0f172a; /* Same as bg-slate-900 */
  color: #f8fafc;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#react-target {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}